:root {
  --basic-very-dark-gray: #323232;
  --basic-dark-gray: #5a5a5a;
  --basic-dark-grayish-cyan: #849d8f;
  --basic-very-light-gray: #ededed;
  --basic-light-grayish-cyan: #d7f2e3;
  --basic-light-grayish-yellow: #f8f7f4;
  --basic-light-grayish-lime-green: #fbfcfb;
  --basic-bright-blue: #2e88e4;/**курсор внутри поля**/
  --basic-bright-red: #e74a35;
  --basic-bright-red: #e84d37;/**корзина с товарами.выпадающий список наведение**/
  --basic-light-bright-red: #f26843;
  --basic-moderate-red: #d07058;
  --basic-very-soft-red: #f6b5a5;
  --basic-light-grayish-red: #fbded7;
  --basic-pale-orange: #ffbc9e;
  --basic-white: #ffffff;
}

.page-body {
  position: relative;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-dark-grayish-cyan);
}

a {
  color: var(--basic-white);
}

ul {
  list-style: none;
}

/*Список мороженого*/

.tovar-list {
  padding: 0px;
}

.tovar-list p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 160px;
}

.items {
  position: relative;
  width: 267px;
  height: 320px;
  text-align: center;
  border: 1px solid brown;
  margin-left: 26px;
  list-style-type: none;
}

.items img {
  border-radius: 50%;
}

.items a {
  font-weight: 500;
  color: var(--basic-white);
}

.items span {
  font-size: 30px;
  line-height: 35px;
}

/* Pagination */

.pagination-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item a:hover,
.pagination-item a:active {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 50%;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item a:focus,
.pagination-item-current a:active {
  color: var(--basic-very-dark-gray);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  padding: 4px 8px;
  border-radius: 50%;
}





/* Footer */

.footer-social,
.footer-documents {
  list-style: none;
}

.footer-documents a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-documents span {
  font-weight: bold;
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
