

:root {
  --basic-very-dark-gray: #323232;
  --basic-dark-gray: #5a5a5a;
  --basic-dark-grayish-cyan: #849d8f;
  --basic-light-grayish-cyan: #d7f2e3;
  --basic-light-grayish-yellow: #f8f7f4;
  --basic-light-grayish-lime-green: #fbfcfb;
  --basic-bright-blue: #2e88e4;/*курсор внутри поля*/
  --basic-bright-red: #e74a35;
  --basic-bright-red: #e84d37;/*корзина с товарами.выпадающий список наведение*/
  --basic-light-bright-red: #f26843;
  --basic-moderate-red: #d07058;
  --basic-very-soft-red: #f6b5a5;
  --basic-light-grayish-red: #fbded7;
  --basic-pale-orange: #ffbc9e;
  --basic-white: #ffffff;
}

.page-body {
  position: relative;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-dark-grayish-cyan);
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation {
  line-height: 18px;
  list-style: none;
}

.consumer-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}

.consumer-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.info p {
  font-size: 14px;
  line-height: 16px;
}

.info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

/*Слайд*/
.gallery-iner {
  position: relative;
}

.item {
  position: relative;
  width: 716px;
  height: 716px;
  border-radius: 50%;
  background: rgba(215, 242, 227, 0.75);

}

.gallery-txt {
  position: absolute;
  left: 10px;
  top: 300px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.gallery-button {
  position: absolute;
  left: 250px;
  top: 544px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--basic-white);
}

/*Предложения*/
.proposal {
  width: 1200px;
  border: 2px solid red;
}

.proposal h2 {
  font-size: 35px;
  line-height: 41px;
}

.proposal p {
  font-size: 18px;
  line-height: 22px;
}

.proposal a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

.raspberry {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  background-image: url(../img/fons/crimson-fon.png);
  background-repeat: no-repeat;
}

.chocolate-bars {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  background-image: url(../img/fons/chocolate-fon.png);
  background-repeat: no-repeat;
}
/*Список мороженого*/
.tovar-list {
  padding: 0px;
}

.tovar-list p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 160px;
}

.items {
  position: relative;
  float: left;
  width: 267px;
  height: 324px;
  border: 1px solid brown;
  margin-left: 26px;
  list-style-type: none;
}

.items span {
  font-size: 30px;
  line-height: 35px;
}

.items-link {
  width:100%;
  text-align: center;
  margin-top: 8px;
}

.items a {
  font-weight: 500;
  color: var(--basic-white);
}

.ice-orange {
  margin-left: 27px;
}

.xit {
  position: absolute;
}

.features {
  clear: left;
}

/* Features */

.features h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-very-dark-gray);
}

.features-item {
  list-style: none;
}

.features-item p,
.news p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-very-dark-gray);
}

/* Blog */

.news {
  width: 560px;
  height: 220px;
  background-image: url(../img/fons/strawberry-fon.png);
  background-repeat: no-repeat;
}

.news h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-very-dark-gray);
}

.news a {
  text-decoration-color: var(--basic-very-dark-gray);
}

.subscription {
  width: 560px;
  height: 220px;
  background: url(../img/fons/substrate.png) no-repeat 5px,
              url(../img/fons/mail-fon.png) no-repeat;
}

.subscription p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);
}

.button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  text-decoration: none;
  color: var(--basic-white);
}

/* Maps */

.contacts {
  width: 1200px;
  height: 430px;
  background: url(../img/icons/morozhenko-carta.svg) no-repeat 265px 135px,
              url(../img/fons/cart.png) no-repeat;
}

.adres {
  width: 303px;
  height: 306px;
  margin-left: 700px;

  border-radius: 16px;
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
}

.adres p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.adres span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-very-dark-gray);
  text-decoration: none;
}

/* Footer */

.footer-social,
.footer-documents {
  list-style-type: none;
}

.footer-documents a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-documents span {
  font-weight: bold;
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
