.page-body {
  position: relative;
  width: 1200px;
  background-image: url(../img/fons/body-fon.png);
}

/**Слайд**/
.gallery-iner {
  position: relative;
}

.item {
  position: relative;
  width: 716px;
  height: 716px;
  border-radius: 50%;
  background: rgba(215, 242, 227, 0.75);
}

.gallery-txt {
  position: absolute;
  left: 264px;
  top: 398px;

}

.gallery-button {
  position: absolute;
  left: 280px;
  top: 544px;
}

/**Предложения**/
.proposal {
  width: 1200px;
  border: 2px solid red;
  color: white;
}

.raspberry {
  width: 560px;
  height: 229px;
  border: 1px solid yellow;
  border-radius: 16px;
  background-image: url(../img/fons/Малиновый\ фон.png);
  background-repeat: no-repeat;
}

.chocolate-bars {
  width: 560px;
  height: 229px;
  border: 1px solid gainsboro;
  border-radius: 16px;
  background-image: url(../img/fons/Шоколадный\ фон.png);
  background-repeat: no-repeat;
}
/**Список мороженого**/
.tovar-list li {
  position: relative;
  width: 267px;
  height: 324px;
  border: 1px solid brown;
  float: left;
}

.xit {
  position: absolute;
}

.tovar-list p {
  position: absolute;
  top: 180px;
  left: 27px;
}




