

:root {
  --basic-very-dark-gray: #323232;
  --basic-dark-gray: #999999;
  --basic-dark-grayish-cyan: #849d8f;
  --basic-very-light-gray: #ededed;
  --basic-light-grayish-cyan: #d7f2e3;
  --basic-grayish-yellow: #d3d3d2;
  --basic-light-grayish-yellow: #f8f7f4;
  --basic-light-grayish-lime-green: #fbfcfb;
  --basic-bright-blue: #2e88e4;/*курсор внутри поля*/
  --basic-bright-red: #e74a35;
  --basic-bright-red: #e84d37;/*корзина с товарами.выпадающий список наведение*/
  --basic-light-bright-red: #f26843;
  --basic-moderate-red: #d07058;
  --basic-very-soft-red: #f6b5a5;
  --basic-light-grayish-red: #fbded7;
  --basic-pale-orange: #ffbc9e;
  --basic-white: #ffffff;
}

.page-body {
  position: relative;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-dark-grayish-cyan);
  background-position: top center;
  /*background-image: url(../img/fons/fon-ice.png);*/
  background-repeat: no-repeat;

}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation ul {
  padding: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  line-height: 18px;
  list-style: none;
}

.site-navigation li {
  display: inline-block;
}


.site-navigation a {

  color: var(--basic-white);
}

.site-navigation a:hover {
  font-weight: bold;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-very-dark-gray);
  background-color: var(--basic-white);
  border-radius: 26px;
  text-decoration: none;
}

.site-navigation a:active {
  background-color: var(--basic-very-light-gray);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

.site-navigation a:focus {
  background: var(--basic-moderate-red);
  padding: 5px 10px;
  border-radius: 26px;
  text-decoration: none;
}

/* Dropdown */

.dropdown:hover,
.dropdown-content:hover {

}


.dropdown-content {

  width: 143px;
  height: 171px;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;

}


.dropdown-content a {
   display: block;
   padding: 8px 14px;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   align-items: center;
   color: var(--basic-very-dark-gray);
}

.drop-down-list b {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.dropdown-content a:hover {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: var(--basic-light-grayish-red);
  border-radius: 0;
}

.dropdown-content a:active {
  background: var(--basic-very-soft-red);
}

.dropdown-content a:focus {
  border-radius: 0;
}


/* Consumer-navigation */



.consumer-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}



.consumer-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.navigation-search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.navigation-search:hover {
  background: var(--basic-white);
}

.consumer-navigation-search {
  width: 341px;
  height: 84px;
  text-align: center;
  background: var(--basic-light-grayish-yellow);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.consumer-navigation-search input {
  width: 311px;
  height: 44px;
  margin-top: 20px;
  background: var(--basic-white);
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-very-dark-gray);
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea[name="comment"]:hover{
  outline: none;
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

 input[type="text"]:focus,
 input[type="email"]:focus,
 input[type="password"]:focus,
 textarea[name="comment"]:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  border-radius: 4px;
}


.entrance,
.basket {
  width: 92px;
  height: 32px;
}

.navigation-entrance,
.navigation-basket {
  width: 92px;
  height: 32px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.navigation-entrance a {
  margin-left: 20px;
}



.navigation-entrance:hover,
.navigation-basket:hover {
  background: var(--basic-white);
}

/*.navigation-entrance a:hover,*/.entrance a:hover,
.basket a:hover,
.navigation-search:hover svg path,
.navigation-entrance:hover svg path,
.navigation-basket:hover svg path {
  fill: var(--basic-very-dark-gray);
  color: var(--basic-very-dark-gray);
}

.basket-catalog {
  width: 118px;
  height: 32px;
  background: var(--basic-white);
  border-radius: 20px;
}

.basket-catalog a,
.basket-catalog svg path {
  fill: var(--basic-very-dark-gray);
  color: var(--basic-very-dark-gray);
}

.navigation-basket-catalog {
  width: 118px;
  height: 32px;
  text-align: center;
}

/* Breadcrumbs */

.breadcrumbs a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--basic-white);
}

.breadcrumbs a:hover {
  color: var(--basic-pale-orange);
}

/* Choice-catalog */

.choice-catalog {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.choice-of-composition {
  display: inline-block;
  vertical-align: middle;
  width: 196px;
  height: 36px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.popularity-catalog {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.price-sorting-catalog {
  width: 218px;
  height: 36px;
}

.fat-sorting-catalog {
  width: 425px;
  height: 36px;
}

.sorting-of-fillers-catalog {
  width: 711px;
  height: 36px;
}

.choice-catalog button {
  width: 144px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  color: var(--basic-white);
}

.choice-catalog button:hover {
  background: var(--basic-white);
  color: var(--basic-very-dark-gray);
}

.choice-catalog button:focus {
  box-shadow: inset 0px 2px 1px #696969;
  border: none;
  outline: none;
}

/* Container */

.info p {
  font-size: 14px;
  line-height: 16px;
}

.info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

/*Слайд*/

.gallery-iner {
  position: relative;
}

.gallery-ice-cream {
  position: relative;
  text-align: center;
  width: 716px;
  height: 716px;
  border-radius: 50%;
}

.gallery-txt {
  position: absolute;
  width: inherit;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-txt h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}


.circle {
  display: inline-block;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  height: 21px;
  width: 21px;
}

.circle:hover {
  background: rgba(255, 255, 255, 0.4);
}

.circle:focus,
.circle:active {
  background: var(--basic-white);
}

.current-slide-item,
.current-slide-item:hover,
.current-slide-item:active,
.current-slide-item:focus {
  background: var(--basic-white);
}


/*
.gallery-txt {
  position: absolute;
  text-align: center;
  left: 10px;
  top: 300px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
*/
.gallery-button {
  position: absolute;
  left: 250px;
  top: 544px;
  margin: 20px 10px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-decoration: none;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--basic-white);
}



/*Предложения*/

.proposal {
  width: 1200px;
  border: 2px solid red;
}

.proposal h2 {
  font-size: 35px;
  line-height: 41px;
}

.proposal p {
  font-size: 18px;
  line-height: 22px;
}

.proposal a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

.raspberry {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  background-image: url(../img/fons/crimson-fon.jpg);
  background-repeat: no-repeat;
}

.chocolate-bars {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  background-image: url(../img/fons/chocolate-fon.jpg);
  background-repeat: no-repeat;
}

/*Список мороженого*/

.tovar-list {
  padding: 0px;
}

.tovar-list p {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 160px;
}

.items {
  position: relative;
  width: 293px;
  height: 402px;
  border: 1px solid brown;
  margin-left: 26px;
  list-style-type: none;
}

.items:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.items img {
  border-radius:50%;
}

.items-link {
  width:100%;
  margin-top: 5px;
  text-align: center;
}


.items a  {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2px;
  color: var(--basic-white);
}

.items span {
  font-size: 30px;
  line-height: 35px;
}

.normal-state {
  margin: 5px 15px 0 15px;
}

.hit {
  position: absolute;
}

.hidden-button {
  width: 200px;
  padding: 25px 0;
  margin-left: auto;
  margin-right: auto;
}



.hidden-button .button {
  width: 200px;
  padding: 12px 16px;
}


/* Features */

.features {
  width: 1146px;
  background: url(../img/fons/vafly-fon.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
}


.features h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-very-dark-gray);
}

.features-item {
  list-style: none;
}

.features-item p,
.news p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-very-dark-gray);
}

/* Blog */

.news {
  width: 560px;
  height: 220px;
  background-image: url(../img/fons/strawberry-fon.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-news {
  width: 287px;
  height: 77px;
}

.news h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-very-dark-gray);
}

.news a {
  text-decoration-color: var(--basic-very-dark-gray);
}

.news a:hover,
.news h2:hover {
  text-decoration-color: var(--basic-pale-orange);
  color: var(--basic-pale-orange);
}

.subscription {
  width: 560px;
  height: 220px;
  background: url(../img/fons/substrate.png) no-repeat 5px,
              url(../img/fons/mail-fon.jpg) no-repeat;
  border-radius: 16px;

}

.subscription p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);
}

.subscription-to-newsletter input {
  width: 368px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
}



.button {
  font: inherit;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 20px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--basic-white);
}

.button:hover,
.gallery-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
              linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active,
.gallery-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  border-radius: 70px;
}
/* Map */

.contacts {
  width: 1200px;
  height: 430px;
  background: url(../img/icons/morozhenko-carta.svg) no-repeat 265px 135px,
              url(../img/fons/cart.png) no-repeat;
}

.address {
  width: 303px;
  height: 306px;
  margin-left: 700px;
  text-align: center;
  border-radius: 16px;
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
}

.address p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.address span {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts-phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-very-dark-gray);
  text-decoration: none;
}

/* Pagination */

.pagination-list {
  padding: 0;
}

.pagination-list li {
  display: inline-block;
  margin: 10px;
}

.pagination-list a {
  color: var(--basic-white);
  text-decoration: none;
}



.pagination-item a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 50%;
}

.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
  padding: 5px 10px;
  border-radius: 50%;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
  padding: 5px 10px;
  border-radius: 50%;
}

/* Footer */

.footer-social,
.footer-documents {
  list-style: none;
}

.footer-social li,
.breadcrumbs li {
  display: inline-block;
  margin-left: 5px;
}

.footer-documents a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-documents span {
  font-weight: bold;
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}


.modal-login {
  width: 277px;
  height: 214px;
  background: var(--basic-light-grayish-yellow);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.modal h2 {
  color: var(--basic-very-dark-gray);
}

.modal-login input {
  width: 241px;
  height: 44px;
  background: var(--basic-white);
  border: 1px solid var(--basic-grayish-yellow);
  border-radius: 4px;
}

.modal-login .button {
  font-size: 18px;
  line-height: 16px;
}

.modal a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-very-dark-gray);
}

.modal-contact {
  width: 477px;
  height: 441px;
  background: var(--basic-light-grayish-yellow);
  border-radius: 6px;
}

.modal-contact input {
  width: 267px;
  height: 44px;
  background: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
}

.modal-contact textarea {
  background: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
}

table {
  width: 539px;
  height: 242px;
  border-collapse: collapse;
  background: var(--basic-light-grayish-yellow);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.basket-of-goods .text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-very-dark-gray);
}

.basket-of-goods-total {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
}

.button-wrapper {
  text-align: right;
}

.text span {
  color: var(--basic-dark-gray);
}

.text-line {
  border-bottom:  1px solid #CACAC7;
}


